/.htaccess
/assets/
/jsparty/
/nbproject/
/mysite/_config/local.yml
/mysite/BUILD_NUMBER
/mysite/*.log
/mysite/VERSION
/mysite/configs
/sitemap.xml
/google*.html
*/xhprof_lib/config.php
/xhprof_runs.php
/silverstripe-cache/
/vendor/
/composer.phar
/sqlite3/
*.rej
/.env
/resources/
