/.htaccess
assets/
jsparty/
nbproject/
ssautesting/logs/
ssautesting/testing.conf.php
mysite/*.conf.php
mysite/BUILD_NUMBER
mysite/*.log
mysite/VERSION
mysite/configs
build/*.tar.gz
build/archive
build/build.properties
build/phing-metadata
_ss_environment.php
