.htaccess
assets/
alfresco-connector
cms
external-content/
frontend-editing/
jsparty/
nbproject/
newsletter/
forum/
versionedfiles/
securefiles/
sapphire/
silverstripe-connector/
simplewiki/
ssautesting/
mysite/db.conf.php
mysite/error.log
scripts/*.tar.gz
scripts/build.properties
sqlite3
legacydatetimefields
